absl-py==1.1.0
aiohttp==3.8.1
aiosignal==1.3.1
altair==4.2.0
anyio==3.6.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
asyncer==0.0.2
atomicwrites==1.4.0
attrs==21.4.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
blinker==1.5
bokeh==2.4.3
cachetools==5.2.0
category-encoders==2.5.1.post0
certifi==2022.12.7
cffi==1.15.0
charset-normalizer==2.0.12
chatbot==1.5.2b0
click==8.1.3
cloudpickle==2.2.0
colorama==0.4.4
coloredlogs==15.0.1
commonmark==0.9.1
comtypes==1.1.11
countryinfo==0.1.2
cycler==0.11.0
dataclasses==0.6
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.5.1
distlib==0.3.4
Django==4.0.5
docstring-to-markdown==0.10
emoji==2.1.0
entrypoints==0.4
executing==0.8.3
fake-useragent==1.1.1
fastapi==0.87.0
fastjsonschema==2.15.3
filelock==3.7.1
filetype==1.2.0
flatbuffers==1.12
fonttools==4.33.3
forex-python==1.8
frozenlist==1.3.3
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.29
google-auth==2.9.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20.1
greenlet==2.0.1
grpcio==1.47.0
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
h5py==3.7.0
huggingface-hub==0.11.1
humanfriendly==10.0
ibis==3.2.0
idna==3.3
ImageHash==4.3.1
imageio==2.19.3
importlib-metadata==5.0.0
iniconfig==1.1.1
ipykernel==6.13.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
jedi==0.17.2
jedi-language-server==0.36.1
Jinja2==3.1.2
JLDracula==0.1.0
joblib==1.1.0
json5==0.9.8
jsonschema==4.6.0
jupyter-client==7.3.4
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.10.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-lsp==1.5.1
jupyter-nbextensions-configurator==0.4.1
jupyter-server==1.18.1
jupyterlab==3.4.3
jupyterlab-autoscrollcelloutput==0.1.2
jupyterlab-horizon-theme==3.0.1
jupyterlab-lsp==3.10.1
jupyterlab-materialdarker==0.6.0
jupyterlab-pygments==0.2.2
jupyterlab-server==2.15.0
jupyterlab-theme-solarized-dark==2.1.0
jupyterlab-widgets==3.0.3
jupyterthemes==0.20.0
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
latexify-py==0.1.1
lesscpy==0.15.0
libclang==14.0.1
lightgbm==3.3.3
llvmlite==0.39.1
lxml==4.9.0
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mediapipe==0.8.11
mistune==0.8.4
mpmath==1.2.1
multidict==6.0.3
mysql-connector-python==8.0.30
nbclassic==0.4.2
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nbresuse==0.4.0
nest-asyncio==1.5.5
networkx==2.8.8
nltk==3.7
notebook==6.4.12
notebook-shim==0.1.0
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.0
onnxruntime==1.13.1
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.3
pandocfilters==1.5.0
panel==0.13.1
param==1.12.2
parso==0.7.1
patsy==0.5.2
pickle4==0.0.1
pickleshare==0.7.5
pikepdf==5.1.5
Pillow==9.3.0
pipenv==2022.6.7
pivottablejs==0.9.0
platformdirs==2.5.2
pluggy==1.0.0
ply==3.11
plyer==2.0.0
pooch==1.6.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.19.4
psutil==5.9.1
pure-eval==0.2.2
py==1.11.0
pyarrow==10.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyct==0.4.8
pydantic==1.9.1
pydeck==0.8.0
pydot==1.4.2
pydotplus==2.0.2
pygls==0.12
Pygments==2.12.0
PyMatting==1.1.8
Pympler==1.0.1
pyparsing==3.0.9
PyPDF2==2.2.1
pypiwin32==223
pyreadline3==3.4.1
pyrsistent==0.18.1
PySocks==1.7.1
pytest==7.1.2
python-dateutil==2.8.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-multipart==0.0.5
pyttsx3==2.90
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyVirtualDisplay==3.0
pyviz-comms==2.2.0
PyWavelets==1.4.1
pywin32==304
pywinpty==2.0.5
PyYAML==6.0
pyzmq==23.1.0
regex==2022.6.2
rembg==2.0.29
requests==2.28.0
requests-oauthlib==1.3.1
retrolab==0.3.21
rich==12.6.0
rsa==4.8
rtsimple==0.9.0
scikit-image==0.19.3
scikit-learn==1.1.1
scipy==1.9.3
seaborn==0.12.1
semver==2.13.0
Send2Trash==1.8.0
simplejson==3.17.6
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
snscrape==0.4.3.20220106
sounddevice==0.4.4
soupsieve==2.3.2.post1
SQLAlchemy==1.4.45
sqlparse==0.4.2
stack-data==0.2.0
starlette==0.21.0
statsmodels==0.13.2
streamlit==1.15.0
swig==4.0.2
sympy==1.11.1
tabulate==0.9.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.15.0
themes==0.0.4
threadpoolctl==3.1.0
tifffile==2022.10.10
tinycss2==1.1.1
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.1
tqdm==4.64.1
traitlets==5.2.2.post1
transformers==4.25.1
tweepy==4.12.1
typeguard==2.13.3
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
ujson==5.7.0
urllib3==1.26.9
uvicorn==0.20.0
validators==0.20.0
virtualenv==20.14.1
virtualenv-clone==0.5.7
watchdog==2.1.9
Wave==0.0.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.1.2
widgetsnbextension==4.0.3
wordcloud==1.8.2.2
wrapt==1.14.1
yarl==1.8.2
zipp==3.10.0
